<h1>Evaluar profesor</h1>

<%= form_tag(new_evaluation_path, method: "get") do %>

<%= label_tag 'Pauta a elegir: ' %>
<%= select_tag(:survey_id, options_for_select(SurveySchema.all.collect{ |u| [u.title, u.id] })) %>
</br>
<%= label_tag 'Profesor a evaluar: ' %>
<%= select_tag(:user_id, options_for_select(User.all.collect{ |u| [u.email, u.id] })) %>
</br>

  <%= submit_tag("Evaluar") %>
<% end %>
