<div class="index">
  <header>
    <h2 class="evaluation-header"> Evaluación: <%= @survey.title %></h2>
    <h3 class="evaluation-header"> Profesor: <%= User.find(@user_id).name %></h3>
  <header>
  <table class="table table-striped table-hover ">
    <% contador = 0%>
    <% for i in 0..2%>

    <thead class="categoryTitle <%="cat#{i}"%>">
      <td colspan="6"><%=@categories[i]%></td>
    </thead>
    <thead>
      <tr class="primary">
        <th class="panel-title">#</th>
        <th>Pregunta</th>
        <th>Respuesta</th>
      </tr>
    </thead>
    <tbody>

    <form action="/evaluations" method="post" id="eval_form">



    <% @question_category[i].each do |q| %>
      <% if q.genre == 'text'%>
      <% else %>
        <tr>
          <% contador +=1 %>
          <td> <%= contador%> </td>
          <td> <%= q.name%> </td>
          <td> <%= render partial: 'questions/likert_scale', :locals => {:q => q} %> </td>
          <input type="hidden" name="genres[<%=q.id%>]" value="<%=q.genre%>" />
          <input type="hidden" name="names[<%=q.id%>]" value="<%=q.name%>" />
          <input type="hidden" name="skills[<%=q.id%>]" value="<%=q.skill%>" />
          <input type="hidden" name="categories[<%=q.id%>]" value="<%=q.category%>"/>
        </tr>
      <% end %>
    <%end%>
    </tbody>
    <%end%>
  </table>
  <table class="table table-striped table-hover ">
    <thead class="categoryTitle cat3">
      <td colspan="1">COMENTARIOS</td>
    </thead>
    <thead>
      <tr colspan="1" class="primary">
        <th colspan="1" class="panel-title"></th>
      </tr>
    </thead>
    <tbody>
      <tr colspan="1">
        <!-- <td colspan="1"><input type="text" name="answers[<%=@text[0].id%>]"  /> </td> -->
        <td><textarea rows="4" cols="120" form="eval_form" name="answers[<%=@text[0].id%>]"></textarea>
        <input type="hidden" name="genres[<%=@text[0].id%>]" value="<%=@text[0].genre%>" />
        <input type="hidden" name="names[<%=@text[0].id%>]" value="<%=@text[0].name%>" />
        <input type="hidden" name="skills[<%=@text[0].id%>]" value="<%=@text[0].skill%>" />
        <input type="hidden" name="categories[<%=@text[0].id%>]" value="<%=@text[0].category%>"/>
      </tr>
    </tbody>



  </table>

    <input type="hidden" name="other_params[survey_id]" value="<%= @survey.id%>" />
    <input type="hidden" name="other_params[user_id]" value="<%= @user_id%>" />
    <input type="submit" value="Responder" />
  </form>
<div>
