<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>


  <div class="field">
    <%= f.label "Texto" %>
<<<<<<< HEAD
    <%= f.radio_button :genre, "text", required: true %>
=======
    <%= f.radio_button :genre, "text" %>
>>>>>>> e8e5094f77cc929ebc74a36901feef0b05ea235d
  </div>

  <div class="field">
    <%= f.label "Puntuación" %>
<<<<<<< HEAD
    <%= f.radio_button :genre, "score", required: true %>
=======
    <%= f.radio_button :genre, "score" %>
>>>>>>> e8e5094f77cc929ebc74a36901feef0b05ea235d
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
