

<div class="form-horizontal">
  <div class="form1">
    <fieldset>
      <legend class="question_title">Nueva pregunta</legend>
      <% if flash[:notice] %>
        <h5 class="question_title"> <%= flash[:notice] %> </h5>
      <% end %>

      <%= simple_form_for @question do |f| %>
      <% if question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
          <% question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.input :name, :label => "Nombre", as: :text, required: true%>
        <%= f.input_field :genre, as: :radio_buttons, :collection => [["text", 'Texto'], ["score", 'Puntuación (1 a 5)']], :label_method => :last,
          :value_method => :first, input_html: { class: "form-control", required: true }%>
          <br>
        <div class="btn-group btn-group-justified">
          <p><a href="/questions" class="btn btn-primary btn-sm">Cancelar</a>
            <%= f.button :submit, 'Guardar'%>
          </p>
        </div>
      <% end %>

    </fieldset>
    <br>

  </div>

</div>
