<div class="backgroundLogin">
  <div class="login">

<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <%= f.text_field :name, class: "inputField", autofocus: true, placeholder: "Nombre" %>
    <%= f.email_field :email, class: "inputField", placeholder: "Correo electrónico" %>

    <%= f.select :cycle, options_for_select(["Primer ciclo","Segundo ciclo","Tercer ciclo"]) %>

    <%= f.password_field :password, class: "inputField", autocomplete: "off", placeholder: "Contraseña" %>
    <%= f.password_field :password_confirmation, class: "inputField", autocomplete: "off", placeholder: "Repetir contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />

    <%= f.submit "Registrarme", class: "submit" %>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
