<div class="page-header">
  <div class="header">
    <h1> Administración de usuarios </h1>
  </div>
</div>

<div class="index">
<br>
<br>
  <table class="table table-striped table-hover ">
    <thead>
      <tr class="primary">
        <th class="panel-title">email</th>
        <th>Nombre</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%=user.name%>
          </td>
          <td>
            <%= form_for user, url: change_role_path(user.id), method: :put do |f| %>

                <%= f.select(:role, User.roles.keys.map {|role| [role.titleize, role]}) %>
                <%= f.submit 'Cambiar rol', :class => 'btn btn-primary btn-sm' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
