<div class="form-horizontal">
  <div class="form1">
    <fieldset>
      <legend class="question_title">New survey schema</legend>

      <%= simple_form_for @survey_schema do |f| %>
      <% if survey_schema.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(survey_schema.errors.count, "error") %> prohibited this survey_schema from being saved:</h2>

          <ul>
          <% survey_schema.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.input :title, as: :text, required: true%>

        <div id="table-wrapper">
          <div id="table-scroll">
            <table class="table table-striped table-hover ">
              <thead>
                <tr class="primary">
                  <th class="panel-title">#</th>
                  <th>Name</th>
                  <th>Type of question</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% contador = 0%>
                <% @questions.each do |question|%>
                <tr>
                  <% contador +=1 %>
                  <td> <%= contador %></td>
                  <td><%= question.name%></td>
                  <td><%= question.genre%></td>
                  <div class="btn-group btn-group-justified">
                  <td> <p> Agregar pregunta </p> </td>
                  <td> <%= check_box_tag "questions[]", question.id %> </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>

        <div class="btn-group btn-group-justified">
        <p><a href="/survey_schemas" class="btn btn-primary btn-sm">Cancel</a>
          <%= f.button :submit, 'Save'%>
        </p>

      <% end %>

    </fieldset>
    <br>

  </div>

</div>
