<div class="form-horizontal">
  <div class="form1">
    <fieldset>
      <legend class="question_title">Nueva pauta de evaluación</legend>

      <%= simple_form_for @survey_schema do |f| %>
      <% if survey_schema.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(survey_schema.errors.count, "error") %> prohibited this survey_schema from being saved:</h2>
          <ul>
          <% survey_schema.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="schemaTitleWrapper">
        <%= f.input :title,:label => "Título", as: :text, required: true %>

        <%= label_tag 'Ciclo: ' %>

        <%= select_tag(:cycle, options_for_select([["Primero",'1'],["Segundo",'2'],["Tercero",'3']]),{:class=>'form-control',:id=>'select-evaluate'}) %>

        </div>

        <div id="table-wrapper">
            <table class="table table-striped table-hover ">
            <% contador = 0%>
            <% for i in 0..@categories.length-1 %> 
              <thead class="categoryTitle <%="cat#{i}"%>">
                <td colspan="6"><%=@categories[i]%></td>
              </thead>
              <thead>
                <tr class="primary">
                  <th class="panel-title">#</th>
                  <th>Pregunta</th>
                  <th>habilidad</th>
                  <th>Agregar pregunta</th>
                </tr>
              </thead>
              <tbody>
                <% @questions_category[i].each do |question|%>
                <tr>
                  <% contador +=1 %>
                  <td> <%= contador %></td>
                  <td><%= question.name %></td>
                  <td><%= question.skill %></td>
                  <div class="btn-group btn-group-justified">
                  <td><center> <%= check_box_tag "questions[]", question.id %> </center></td>
                </tr>
                <%end%>
              </tbody>
              <%end%>
            </table>
        </div>

        <div class="btn-group btn-group-justified">
        <p><a href="/survey_schemas" class="btn btn-primary btn-sm">Cancelar</a>
          <%= f.button :submit, 'Guardar'%>
        </p>

      <% end %>

    </fieldset>
    <br>

  </div>

</div>
