<h1>Editing Survey Schema</h1>

<%= form_for(@survey_schema) do |f| %>
  <% if @survey_schema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey_schema.errors.count, "error") %> prohibited this survey_schema from being saved:</h2>

      <ul>
      <% survey_schema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </div>

  <h1> Preguntas actuales </h1>

  <%= @all_questions_id %>
  <%= @questions_id %>

  <%= @other_questions_id %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @survey_schema.questions.each do |x| %>
        <tr>
          <td> <%= x.name %> </td>
          <td> <%= x.genre %> </td>
          <td> <p> Eliminar pregunta </p> </td>
          <td> <%= check_box_tag "delete_questions[]", x.id %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1> Agregar preguntas </h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th colspan="3"></th>

      </tr>
    </thead>

    <tbody>
      <% @other_questions.each do |x| %>
        <tr>
          <td> <%= x.name %> </td>
          <td> <%= x.genre %> </td>
          <td> <p> Agregar pregunta </p> </td>
          <td> <%= check_box_tag "add_questions[]", x.id %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

<%= link_to 'Show', @survey_schema %> |
<%= link_to 'Back', survey_schemas_path %>
