<div class="form-horizontal">
  <div class="form1">
    <fieldset>
      <legend class="question_title">Editar pauta de evaluación</legend>

      <%= simple_form_for @survey_schema do |f| %>
      <% if @survey_schema.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(survey_schema.errors.count, "error") %> prohibited this survey_schema from being saved:</h2>

          <ul>
          <% survey_schema.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <%= f.input :title, :label => "Titulo",as: :text, required: true%>

        <legend class="question_title">Preguntas actuales</legend>

        <% @all_questions_id %>
        <% @questions_id %>
        <% @other_questions_id %>

        <div id="table-wrapper">
          <div id="table-edit-scroll">
            <table class="table table-striped table-hover ">
              <thead>
                <tr class="primary">
                  <th class="panel-title">#</th>
                  <th>Nombre de pregunta</th>
                  <th>Título de pregunta</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% contador = 0%>
                <% @survey_schema.questions.each do |question|%>
                <tr>
                  <% contador +=1 %>
                  <td> <%= contador %></td>
                  <td><%= question.name%></td>
                  <% if question.genre=='score'%>
                  <td>Puntuación</td>
                  <% else %>
                  <td>Texto</td>
                  <%end%>
                  <div class="btn-group btn-group-justified">
                  <td> <p> Borrar pregunta </p> </td>
                  <td> <%= check_box_tag "delete_questions[]", question.id %> </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>

        <legend class="question_title">Nuevas preguntas</legend>


        <div id="table-wrapper">
          <div id="table-edit-scroll">
            <table class="table table-striped table-hover ">
              <thead>
                <tr class="primary">
                  <th class="panel-title">#</th>
                  <th>Nombre de pregunta</th>
                  <th>Título de pregunta</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% contador = 0%>
                <% @other_questions.each do |question|%>
                <tr>
                  <% contador +=1 %>
                  <td> <%= contador %></td>
                  <td><%= question.name%></td>
                  <% if question.genre=='score'%>
                  <td>Puntuación</td>
                  <% else %>
                  <td>Texto</td>
                  <%end%>
                  <div class="btn-group btn-group-justified">
                  <td> <p> agregar pregunta </p> </td>
                  <td> <%= check_box_tag "add_questions[]", question.id %> </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>

        <div class="btn-group btn-group-justified">
        <p><a href="/survey_schemas" class="btn btn-primary btn-sm">Cancelar</a>
          <%= f.button :submit, 'Guardar'%>
        </p>

      <% end %>

    </fieldset>
    <br>

  </div>

</div>
